BOT_TOKEN=1864672623:AAE6cXQhtiWwu6OW2Cls3pffiNTZcCwIIls
BOT_NAME=𝐑𝐨𝐛𝐨𝐭𝐌𝐮𝐬𝐢𝐜𝐁𝐨𝐭
API_HASH=5e6d19055850eb5b35720a87e798d0b0
API_ID=3448718
SUDO_USERS=994286253  # List of user IDs separated by space
DURATION_LIMIT=15 # in minutes (default: 7)
